<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpt202.mapper.RankMapper">
    <resultMap id="BaseResultMap" type="com.cpt202.domain.Rank" >
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="song_list_id" jdbcType="INTEGER" property="songListId"/>
        <result column="consumer_id" jdbcType="INTEGER" property="consumerId"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
    </resultMap>

    <insert id="insert" parameterType="com.cpt202.domain.Rank">
        insert into rank
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="songListId != null">
                song_list_id,
            </if>
            <if test="consumerId != null">
                consumer_id,
            </if>
            <if test="score != null">
                score,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="songListId != null">
                #{songListId},
            </if>
            <if test="consumerId != null">
                #{consumerId},
            </if>
            <if test="score != null">
                #{score},
            </if>
        </trim>        
    </insert>

    <select id="selectScoreSum" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT COALESCE(SUM(score), 0) AS score
        FROM `rank`
        WHERE song_list_id = #{songListId}
    </select>

    <select id="selectRankNum" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT COALESCE(COUNT(id), 0) AS num
        FROM `rank`
        WHERE song_list_id = #{songListId}
    </select>
</mapper>
















